.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.field {
  display: flex;
  flex-direction: column;
  color: #2e2f42;
  align-items: center;
}

.value {
  font-size: 2rem;

  line-height: 120%;
  letter-spacing: 0.04em;
}

.label {
  font-size: 1.3rem;
}

.timer-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.data-input {
  color: #ff0000;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: transparent;
  outline: 1px solid #4e75ff;
  outline: transparent;
  margin-right: auto;
  width: 66.1%;
  transition: all 250ms ease-in-out;
}

.data-input:hover {
  outline: 1px solid rgb(128, 128, 128);
}

.data-input:focus {
  outline: 1px solid #4e75ff;
}

.data-input[disabled] {
  pointer-events: none;
}

.button {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
  color: black;
  border: transparent;
  background: #4e75ff;

  color: white;
}

button[disabled] {
  cursor: not-allowed;
  color: #a0a0a0;
  background: #cfcfcf;
}

button[disabled]:hover {
  transform: scale(1);
  background: #cfcfcf;
}

.button:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.678);
  background: #6c8cff;
}
