main {
  width: 20rem;
  margin: 0 auto;
  padding: 20rem 0;
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.field {
  display: flex;
  flex-direction: column;
  color: #2e2f42;
  text-align: center;
}

.value {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04em;
}

.timer-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.data-input {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: transparent;
  outline: 1px solid rgb(192, 192, 192);
  margin-right: auto;
  width: 67%;
}
.data-input[disabled] {
  pointer-events: none;
}

.button {
  padding: 1rem 1.2rem;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
  color: black;
  border: transparent;
  background-color: rgba(0, 0, 0, 0.466);

  color: white;
}

button[disabled] {
  cursor: not-allowed;
  color: #a0a0a0;
  background-color: rgba(202, 202, 202, 0.315);
}

button[disabled]:hover {
  transform: scale(1);
  background-color: rgba(202, 202, 202, 0.315);
}

.button:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.678);
}
